* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS for first part of the page */

header {
  background-color: #1f2937;
  padding-top: 10px;
}

h1 {
  font-size: 24px;
  color: #f9faf8;
}

.toppage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 48px;
}

li {
  font-size: 18px;
  color: #e5e7eb;
}
a {
  color: inherit;
  text-decoration: none;
}

/* CSS for the second part of the page */

.mainpage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 150px 0;
  background-color: #1f2937;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  font-family: sans-serif;
}

.maintext {
  width: 455px;
}

.secondarytext {
  font-size: 18px;
  color: #e5e7eb;
  font-family: sans-serif;
}

.buttonbox {
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.image {
  pointer-events: none;
}

.signup {
  font-size: 100%;
  font-family: sans-serif;
  border: 0;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 5px;
  background: #3882f6;
  color: white;
  font-weight: bold;
}

.signup:hover {
  background: #015ff5;
}

/* CSS for the third part of the page */

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  gap: 20px;
}

h3 {
  font-size: 36px;
  font-family: sans-serif;
  color: #1f2937;
}

.emptyboxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.boxelements {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  gap: 15px;
  text-align: center;
}

.square {
  height: 120px;
  width: 120px;
  border: 3px solid #3882f6;
  border-radius: 15px;
}

.subtext {
  font-size: 16px;
  font-family: sans-serif;
}

/* CSS for the quote part */

.quote {
  display: flex;
  background: #e5e7eb;
  padding: 100px;
  flex-direction: column;
  align-items: center;
}

.mainquote {
  font-size: 36px;
  font-family: sans-serif;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
  width: 900px;
}

.thorquote {
  padding-left: 600px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
}

/* CSS "Call to action" */

.action {
  margin: 100px 200px;
  padding: 50px 100px;
  background: #3882f6;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

h4 {
  font-size: 24px;
  color: #f9faf8;
  font-family: sans-serif;
  font-weight: bold;
}

.actiontext {
  color: #e5e7eb;
  font-family: sans-serif;
}

.signupbottom {
  font-size: 100%;
  font-family: sans-serif;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 5px;
  background: #3882f6;
  color: white;
  font-weight: bold;
}

.signupbottom:hover {
  background: #015ff5;
}

/* CSS copyright */

.copyright {
  background: #1f2937;
  padding: 50px 100px;
}

footer {
  display: flex;
  justify-content: center;
  color: #e5e7eb;
}
